# =========================
# ScholarRAG .gitignore
# =========================

# Python
__pycache__/
*.py[cod]
*.pyo
*.log

# Virtual Environments
venv/
.venv/

# Environment Variables
.env
.env.*

# VS Code
.vscode/

# Gradio
.gradio/

# FAISS Vector Store
faiss_index/

# Uploaded Research Papers
uploads/

# Local LLM Models
models/
*.gguf

# Temporary / Debug Files
freeze.txt

# OS Files
.DS_Store
Thumbs.db